
.main{
	text-align:center;
	margin-top:15%;
}

p{
	font-family: Arial, sans-serif;
}

.ugaWon{
	font-size:120pt;
	font-weight: bold;
	color: green;
}

.ugaLost{
	font-size:120pt;
	font-weight: bold;
	color: red;
}

.notyet{
	font-size:120pt;
	font-weight: bold;
	color: yellow;
}

.scoreLinkDiv{
	bottom: 0px;
}